.App {
  text-align: left;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  position: flex;
  top: 0px;
  left: 0px;
}

.App-nav {
  position: absolute;
  top: 0px;
  right: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #CBFFFA;
  min-height: 8vh;
  display: flex;
  float: none;
  font-size: calc(2px + 2vmin);
  color: #696969;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
